<!DOCTYPE html>
<html>
	<head>
		<title>爱饮(上海)ERP管理系统 v1.0</title>
		<script src="/js/jquery.min.js"></script>
		
		<link rel="stylesheet" href="../framework/amazeui/amazeui.min.css" />
		<script type="text/javascript" src="/plugin/My97DatePicker/WdatePicker.js"></script>
		<link href="/plugin/select2/dist/css/select2.min.css" rel="stylesheet" />
		<script type="text/javascript" src="/plugin/craftpip/dist/jquery-confirm.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/plugin/craftpip/css/jquery-confirm.css">
		<script src="/plugin/select2/dist/js/select2.min.js"></script>
		<script src="../framework/amazeui/amazeui.min.js"></script>
		<link rel="stylesheet" href="../framework/css/admin.css">
    <script type="text/javascript" src="../framework/Kindeditor/kindeditor-min.js"></script>
    <script type="text/javascript" src="../framework/Kindeditor/lang/zh_CN.js"></script>
		<script src="/js/basic.js"></script>
		<script src="/js/check.js"></script>
    <style type="text/css">
      /*
      *{
        font-size: 12px;
      }
      .am-form input[type=number], .am-form input[type=search], .am-form input[type=text], .am-form input[type=password], .am-form input[type=datetime], .am-form input[type=datetime-local], .am-form input[type=date], .am-form input[type=month], .am-form input[type=time], .am-form input[type=week], .am-form input[type=email], .am-form input[type=url], .am-form input[type=tel], .am-form input[type=color], .am-form select, .am-form textarea, .am-form-field{
        font-size: 12px;
      }
      .am-btn{
        font-size: 12px;
      }*/
    </style>
	</head>
	<body style="overflow: auto">
		    <header class="am-topbar am-topbar-inverse admin-header">
				<div class="am-topbar-brand">
					<strong>爱饮(上海)ERP管理系统  </strong> <small>v1.0</small>
				</div>

				<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

				<div class="am-collapse am-topbar-collapse" id="topbar-collapse">

					<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
						<li><a href="javascript:;"><span class="am-icon-user"></span> 当前用户 <span id="cname">管理员</span></a></li>
						<li><a href="#" id="exit"><span class="am-icon-power-off"></span> 退出</a></li>
					</ul>
				</div>
			</header>
			<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list" id="s-left">
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 用户管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/erp/role" class="am-cf"><span class="am-icon-puzzle-piece"></span> 权限管理</a></li>
          </ul>
        </li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-table"></span> 订单管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/erp/view_booking" class="am-cf"><span class="am-icon-puzzle-piece"></span> 订单列表</a></li>
          </ul>
        </li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-pencil-square-o"></span> 财务管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/erp/view_tj" class="am-cf"><span class="am-icon-puzzle-piece"></span> 报表管理</a></li>
          </ul>
        </li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-pencil-square-o"></span> 产品管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/erp/view_product" class="am-cf"><span class="am-icon-puzzle-piece"></span> 产品维护</a></li>
          </ul>
        </li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-pencil-square-o"></span> 客户管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/erp/view_user" class="am-cf"><span class="am-icon-puzzle-piece"></span> 客户列表</a></li>
          </ul>
        </li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-sign-out"></span> 日常管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/erp/view_news" class="am-cf"><span class="am-icon-puzzle-piece"></span> 最新消息维护</a></li>
          </ul>
        </li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>当前系统为1.0版本，预计2018-07-01上线试运营。—— 管理员</p>
        </div>
      </div>
    </div>
  </div>
  <!-- sidebar end -->
  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body" >