<% include header %>
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">系统管理</strong> / <small>用户权限</small></div>
</div>
<table  class="am-form" style="margin:5px">
	<tr>
		<td>
			<input type="text" id="username" placeholder="用户名" />
		</td>
		<td>
			<input type="text" id="password" placeholder="密码" />
		</td>
		<td>
			<input type="text" id="name" placeholder="姓名" />
		</td>
		<td>
			<select style="width:150px" id="role">
				<option value="管理员">管理员</option>
			</select>
		</td>
		<td>
			<button class="am-btn am-btn-primary" onclick="add()">新增</button>
		</td>
	</tr>
</table>
<div class="div_auto" id="demo1">
	<form class="am-form">
		<table style="margin:5px" class="am-table am-table-bordered am-table-radius am-table-striped table-main">
			<thead>
				<tr>
					<th>用户名</th>
					<th>密码</th>
					<th>姓名</th>
					<th>权限</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="content">
				
			</tbody>
		</table>
										<div class="am-cf" style="margin-left:10px">
											共<span id="total"></span>条记录
											<div class="am-fr">
												<ul class="am-pagination" id="pagination">
													
												</ul>
											</div>
										</div>
	</form>
</div>

		<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="doc-modal-1">
		  <div class="am-modal-dialog">
		    <div class="am-modal-hd">提示信息
		      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
		    </div>
		    <div id="ticketlist" class="am-modal-bd">
		        
		    </div>
		  </div>
		</div>

<!--编辑-->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-2">
	  <div class="am-modal-dialog" >
	    <div class="am-modal-hd">编辑记录
	      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
	    </div>
	    <div class="am-modal-bd">
	      <table  class="am-form" style="margin:5px;width:100%">
		<tr>
			<td>
				<input type="text" id="username1" placeholder="用户名" />
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" id="password1" placeholder="密码" />
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" id="name1" placeholder="姓名" />
			</td>
		</tr>
		<tr>
			<td>
				<select style="width:150px" id="role1">
					<option value="管理员">管理员</option>
				</select>
			</td>
		</tr>
	</table>
					<button type="button" class="am-btn am-btn-danger" onclick="closeDoc();">关闭
	            </button>
					<button type="button" class="am-btn am-btn-primary" onclick="submitDoc();">
	               提交
	            </button>
	    </div>
	  </div>
	</div>
<script>
		var g_id = '';

		function submitDoc() {
			$.ajax({
				type: "POST",
				url: "/service/UptateRole",
				data: {
					id: g_id,
					username: $("#username1").val(),
					password: $("#password1").val(),
					name: $("#name1").val(),
					role: $("#role1").val()
				},
				success: function(data) {
					if(data == 200) {
						alert("更新成功");
						var $modal = $('#doc-modal-2');
						$modal.modal('close');
						getDate();
					}
				}
			});
		}

		function closeDoc(){
			var $modal = $('#doc-modal-2');
			$modal.modal('close');
		}

		function getDate() {
			$('#ticketlist').html("数据加载中...");
			var $modal = $('#doc-modal-1');
			$modal.modal('toggle');

			$.ajax({
				type: "POST",
				url: "/service/getRole",
				data: {
					
				},
				success: function(data) {
					$modal.modal('toggle');
					var html = "";
					var totalout = 0;
					for(var i in data) {
						html += "<tr>";
						html += "<td>" + data[i].username + "</td>";
						html += "<td>" + data[i].password + "</td>";
						html += "<td>" + data[i].name + "</td>";
						html += "<td>" + data[i].role + "</td>";
						html += "<td><button type='button' style='display:inline !important' class='am-btn am-btn-default am-btn-xs am-text-success am-hide-sm-only' onclick='edit(" + data[i].id + ")'>编辑</button>";
						html += "<button type='button' style='display:inline !important' class='am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only' onclick='del(" + data[i].id + ")'>删除</button></td>";
						html += "</tr>";
						totalout += 1;
					}
					$("#content").html(html);
					//计算当天总支出
					$('#total').html(totalout);
				}
			});
		}


	getDate();


	function jqchk(name){ //jquery获取复选框值
	    var chk_value = '';
	    $('input[name="' + name + '"]:checked').each(function (){
	        if (chk_value == ""){
	            chk_value = $(this).val();
	        }else{
	            chk_value = chk_value + "*" + $(this).val();
	        }
	    }
	    );
	    return chk_value;
	}

	function del(id){
			var _con = confirm("是否确认删除?");
 			if(_con){
 				$.ajax({
					type: "POST",
					url: "/service/delRole",
					data: {
						id: id
					},
					success: function(data) {
						if (data == 200) {
							//alert('删除成功！');
							getDate();
						}
					}
				});	
 			}
		}

	function add() {

		$.ajax({
			type: "POST",
			url: "/service/insertRole",
			data: {
				username: $("#username").val(),
				password: $("#password").val(),
				name: $("#name").val(),
				role: $("#role").val()
			},
			success: function(data) {
				if(data == 200) {
					//alert('新增成功！');
					getDate();
				}
			}
		});
	}

		function edit(id){
			g_id = id;
			$.ajax({
				type: "POST",
				url: "/service/getRoleById",
				data: {
					id:id
				},
				success: function(data) {
					if (data) {
						var $modal = $('#doc-modal-2');
						$modal.modal('toggle');
						$('#username1').val(data[0].username);
						$('#password1').val(data[0].password);
						$('#name1').val(data[0].name);
						$('#role1').val(data[0].role);
					}
				}
			});
			
		}

	
	
	function set_list_detail(){
		if($('#role_id').val() == 7){
			$('#list_detail').show();
		}else{
			$('#list_detail').hide();
		}
	}
	
	setInterval(function(){
		set_list_detail();
	},1000);
</script>
<% include footer %>